extend layout 

block styleBlock 
    style.
        .about-content h3 { font-size: 26px !important }

        .about-content p { font-size: 16px }

        .offer-area h3 { font-size: 28px }

        .offer-area .zmdi { font-size: 30px; margin-right: 20px; margin-left: 3px; margin-top: 10px; position: relative; top: 6px; color: #EC1C23 }

        .testimonial { position: relative; z-index: 1000; }

        .our-offer { background-image:url('/img/about/offer.jpg'); background-repeat: no-repeat; height: 250px;  display: flex; justify-content: center; align-items: center }

        .our-offer h4 { font-size: 22px; color: #f8f8f8; }
block content 
    img(src="img/about-us-banner.png", alt="")

    .about-area.pb-80.pt-90.bg-light
        .container
            .row
                .col
                    .about-content
                        p At DeCareer Builder's Academy, we believe in nurturing talent and transforming dreams into reality. Our team of industry experts and experienced instructors ensures that you receive the most up-to-date and relevant knowledge in the fast-paced world of technology. We offer a wide array of cutting-edge courses that cover everything from programming languages, data science, artificial intelligence, web development, and much more.
                        p What sets us apart is our hands-on approach to learning, where you'll get to work on real-world projects and gain practical experience. Our state-of-the-art facilities and advanced equipment create the ideal environment for honing your skills and unleashing your potential.
                        p As a student-centric academy, we understand that learning should be accessible to all. Therefore, we provide flexible learning options, including online courses and personalized study plans to cater to your individual needs.
                        p Whether you are a seasoned professional seeking to enhance your skill set or a fresh graduate eager to kickstart your tech career, DeCareer Builder's Academy is here to guide you every step of the way. 
                //-     .aboutimg
                //-         img(src='img/about/image.png' alt='about').float-end.mt-5

    
    .image-container-deliver
      img(src='img/what-we-deliver.png', alt='what-we-deliver')
      .overlay-text 
        h1(style="text-align: center") WHAT WE DELIVER
        ul(style="list-style-type: disc; align: center") 
            li We support our clients in establishing and achieving their business goals.
            li Our team is comprised of highly experienced consultants and trainers.
            li Our consultants offer tech consultancy services to businesses & individuals.
            li We offer our candidates industry standard tech trainings.

    .testimonial-area.pt-90.pb-90.text-center
        .container
            .row.justify-content-md-center
                .col-md-8
                    .testimonial
                        h3.mb-5 OUR MISSION STATEMENT
                        p
                            | "Our mission is to equip aspiring tech professionals with the needed knowledge to succeed in their path to transitioning to high demand tech roles"


    .about-area-altered.pb-20.pt-70.bg-light
        .container
          .about-altered
                h3.mb-3(style="text-align: center; color: #2c2b5e") POSITIVE AND EFFICIENT TRAINING ENVIRONMENT
                .about-text-area
                    .we-offer
                        p(style="padding-left: 10px") We offer:
                        ul.bullet 
                            li Training in an international, casual and friendly environment
                            li Collaboration with international clients across the world
                            li Opportunities for professional development
                            li Professional training and certification in mainstream IT standards
                            li Modern online training platform
                            li Well-structured and compelling schemes that translate into high exam scores
                            li Accredited training materials and many interactive online exercises
                
                
                    .about-picture-area
                        img(src='img/about-text-area.png')

    .subscribe-area.pt-30.pb-70
        .container
            .row
                .col-lg-8.offset-lg-2
                    .subscribe-content.section-title.text-center
                        h3.m-4 MEET OUR PRINCIPAL EXECUTIVE

                    .row 
                        .col-md-5.text-center 
                            img(src="/img/oluyemi.jpg" style="width: 80%")
                            p(style="font-weight: bold") Oluyemi (Olalekan) Olu-Adeniran 
                                br/ 
                                | PSPO, PSM, CBAP, SAFe

                        .col-md-7
                            p Oluyemi is a certified trainer who has partnered with renowned tech institutes to train more than 500 students where about 
                                | 60% of them have their dream jobs now. He is an experienced Digital Product Owner/Business Analyst with a 
                                | customer-centric approach. He has led cross-functional teams to deliver industry-standard solutions to achieve business 
                                | goals. 
                            br/
                            p His expertise in B2B/B2C solutions has helped in bridging business and development teams for successful project outcomes. 
                                | He is a skilled problem solver, driving product growth through cloud-driven tech and fostering strong stakeholder relationships.


