extend layout 

block content 
    //- .banner-area-wrapper
    //-     .banner-area.text-center
    //-         .container
    //-             .row
    //-                 .col-12
    //-                     .banner-content-wrapper
    //-                         .banner-content
    //-                             h2 Confirmation

    .offer-area.pt-140.pb-80.mb-3
        .container
            .row.justify-content-md-center
                .col-md-5
                    .alert.alert-info 
                        h3 Thank you
                        p Your message has been recieved. We'll get back to you within 2 working days