extend layout 

block content
    img(src="img/services/consultancy-header.png", alt="")

    .container-sm 
        .consult-banner 
            h1 CONSULTANCY
            p(style="text-align: center") At our core, we specialize in delivering top-tier consulting services to a diverse range of clients, including both businesses and governments. 
        
            .consult-flex-area 
                .consult-flex1
                    p “Our consultancy serves as the bridge between technology and businesses, facilitating our clients' success in the digital age. We aspire to be the trusted resource for companies in search of impartial and dependable tech expertise, customised solutions, and sustained support. Our core commitment revolves around delivering tangible, measurable outcomes and empowering businesses to make well-informed decisions regarding their technology investments.”

                .consult-flex2
                    #consult-pic1
                        img(src="img/services/consult-pic1.png", alt="") 
                
                .consult-flex1
                    #consult-pic2
                        img(src="img/services/consult-pic2.png", alt="" ) 

                .consult-flex2
                    h2 Why Choose Us?
                    ul(style="list-style-type: disc") 
                        li 
                            span Comprehensive Technology Solutions: 
                            |Our consultancy takes a holistic approach, addressing both technical aspects and your unique business needs. Our solutions are tailored, scalable, and aligned with your long-term vision.
                        li 
                            span Expert Consultant: 
                            |Our team comprises industry-seasoned experts who remain at the forefront of tech trends, ensuring you benefit from cutting-edge insights and strategies.
                        li 
                            span Vendor-Neutral Recommendations: 
                            |As an independent consultancy, we do not favour any specific technology vendors or products. This independence allows us to provide unbiased recommendations, pinpointing the best solutions for your specific requirements.
                        li 
                            span Risk Management: 
                            |We work closely with you to identify potential challenges and develop risk mitigation plans, ensuring smooth project execution.
                        li 
                            span Cost Efficiency: 
                            |Our consultancy services aim to optimise your technology spending, delivering value and a strong return on investment.
                        li 
                            span Collaborative Approach: 
                            |Our consultants actively engage with your team, sharing knowledge and empowering your employees to effectively manage and leverage technology for sustained success.

                
                #phone-consult-pic3
                    img(src="img/services/consult-pic3.png", alt="")

                .consult-flex1
                    h2 What We Offer
                    ul(style="list-style-type: disc")  
                        li 
                            span Strategic Technology Planning: 
                            |We craft technology strategies in perfect harmony with your business objectives, providing you with a well-defined roadmap to guide your tech investments and initiatives.
                        li 
                            span Digital Transformation: 
                            |Our seasoned experts assist you in embracing digital technologies and processes, resulting in streamlined operations, enriched customer experiences, and a culture of innovation.
                        li 
                            span Robust IT Infrastructure: 
                            |We specialise in designing resilient and scalable IT infrastructures, encompassing everything from seamless cloud migrations to data centre optimisation and customised network architecture that precisely suits your organisational needs.
                        li 
                            span Cybersecurity & Risk Mitigation: 
                            |Protect your business from cyber threats with our thorough cybersecurity assessments, vulnerability testing, and meticulous risk management strategies.
                        li 
                            span Data Insights & Business Intelligence: 
                            |Harness the true potential of data through our data analytics and business intelligence solutions, providing you with actionable insights to facilitate data-driven decision-making.
                        li 
                            span Tailored Software Development: 
                            |From tailored software solutions to mobile app development, our proficient team can conceptualise and create applications that are in perfect alignment with your unique business objectives.

                .consult-flex2
                    #consult-pic3
                        img(src="img/services/consult-pic3.png", alt="") 

            button 
                a(href="/book-consultation") Get Started
            

                