extend layout 

block content
    img(src="img/cv-header.png", alt="")

    .container-sm 
        .cv-banner 
            h1 WELCOME OUR CV REVAMP SERVICE !! 
            p(style="font-size: 15px") Your Curriculum Vitae (CV) is your first impression on potential employers, and we understand the importance of making it shine. Our team of experienced professionals is dedicated to transforming your CV into a powerful tool that highlights your skills, experience, and accomplishments. Whether you are a recent graduate, a mid-career professional, or a seasoned expert, we tailor our services to meet your unique needs. Get ready to stand out from the competition and unlock new career opportunities with our CV Revamp Service. 
        
            .cv-flex-area 
                .cv-flex1
                    img(src="img/cv-banner.png", alt="") 

                .cv-flex2
                    p(style="font-size: 15px") “Choose us because our CV Revamp service is the key to elevating your tech career. We specialise in tailoring CVs for tech professionals, ensuring your skills and experience stand out amidst ATS filters. With personalised consultations, keyword optimisation, and a commitment to clarity and professionalism, we transform your CV into a powerful tool that catches the eye of tech employers. Backed by a track record of success, swift turnaround times, and unwavering confidentiality, our CV Revamp service is your reliable partner in propelling your tech career forward with a standout CV.”
            
            button 
                #popup-link 
                    a(href="#") Get Started
            
            #popup-window
                h1(style="color: #2c2b5e") Our CV Revamp process is completed in 3 easy steps.
                ul(style="list-style-type: decimal; padding-left:12px") 
                    li Complete the payment securely using your preferred method.
                    li Our expert team will reach out to you promptly to initiate the CV Revamp process.
                    li Relax and leave it in our capable hands.
                h2(style="color: #2c2b5e") Let's unlock your potential and open doors to exciting career opportunities.
                button 
                    a(href="#") Make Payment
                button#close-button(style="color:white") Close
                