extend layout 

block content
    img(src="img/courses/data-analysis-cover.png", alt="")

    .container 
        .full-business-analysis-page
            .business-analysis-cover
                .business-analysis-div1
                    img(src="img/courses/data-analysis-banner.png", alt="analysis-banner")
                    
                .business-analysis-div2
                    h2(style="text-align: center; font-size: 20px; margin-bottom: 10px") DATA ANALYSIS 
                    p This course immerses students in the data analysis process, covering data collection, cleansing, transformation, and modelling to discover insights, aid decision-making, and apply these skills to real-world projects. Participants will be ready to translate data into actionable insights, making a significant impact in organisations.                    
                    a(href="/enrol") 
                        | 
                        button Enrol Now
                    p(style=".d-inline-flex.gap-1; color: #000; font-weight: bold") Course Modules 
                        a(data-bs-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
                            i.fa.fa-caret-down(aria-hidden='true')
                        #collapseExample.collapse
                            .card.card-body(style="")
                                ol(style="list-style-type: decimal; padding-left: 10px")
                                    li Introduction to Data Analysis:          
                                    li Data Collection and Cleaning:
                                    li Exploratory Data Analysis (EDA):
                                    li Data Visualization:
                                    li Statistical Analysis:
                                    li Descriptive and Inferential Statistics:
                                    li Data Mining and Pattern Recognition:
                                    li Predictive Modelling:
                                    li Time Series Analysis:
                                    li Data Interpretation and Communication:
                                    li Data Ethics and Privacy:
                                    li Data Analysis Tools and Software:
                                    li Data Wrangling and Transformation:
                                    li Real-world Case Studies and Exercises
        
        .container 
            .business-analysis-cover(style="color:black")
                .business-analysis-div1(style="margin-right: 60px")
                    h2 Course Overview: 
                    p(style="margin-top: 15px") The Data Analysis course provides individuals with the skills needed to become proficient in collecting, processing, and analysing data for problem-solving and decision-making. This empowers  the individual to harness the transformative power of data, enabling them to play a pivotal role in their organisation by turning raw data into actionable insights and driving improvements.


                    
                .business-analysis-div2
                    h2 Who is this course for?
                    p 
                        ul(style="list-style-type: disc;line-height: 25px; margin-top: 10px") 
                            li Individuals seeking to specialize in data analysis
                            li Professionals who want to make significant contributions industries like finance, healthcare etc.
                            li Individuals who want to become trained Data Analysts.

        .container 
            .why-choose(style="color:black")     
                h2 Why Choose Our Data Analysis Course?
                ul
                    li Expert Instructors: Learn from seasoned Data Analysts with extensive real-world expertise.
                    li Practical Learning: Gain practical, hands-on experience through active participation in real-world scenarios.
                    li Networking: Connect with industry professionals and peers to expand your professional network.
                    li Instructor-Led Live classes: Enjoy personalised learning and receive instant feedback from our experienced instructors.
                                            
                
                h2 Join our Data Analysis course and embark on a journey to become a skilled and proficient Data Analyst! 
                
                h2(style="padding-top: 20px") The course duration: 4 weeks
                    br
                    |Start Date: To be communicated
                    br
                    |Course Fee: £300/N250,000
                    br
                    |Course Level: Beginner
                    br
                    |Certificate of Completion: YES
    
    .container 
        .business-last-div
            #people.single-analysis-div
                img(src="img/courses/people.png", alt="people")
                p Live Weekend Classes
                p Access to Class Recording
            //- .single-analysis-div
            //-     img(src="img/courses/rec.png", alt="people")
            //-     p Access to Class Recording
            
            #enrol-btn.single-analysis-div
                a(href="/enrol") 
                    button Enrol Now
            
            #alternate.single-analysis-div
                p(style="color:white") Alternative Job Titles for a Data Analyst
                    ul(style="list-style-type:disc")
                        li Data Insights Analyst
                        li Data Consultant
                        li Data Specialist
                        li Quantitative Analyst
            
    .container 
        .phone-business-last-div 
            a(href="/enrol")             
                button Enrol Now
            
            .analyst-oppt
                p(style="color:white") Alternative Job Titles for a Data Analyst
                    ul(style="list-style-type:disc")
                    li Data Insights Analyst
                    li Data Consultant
                    li Data Specialist
                    li Quantitative Analyst
            
            .phone-analyst-flex
                .phone-single-analysis-div
                    img(src="img/courses/people.png", alt="people")
                    p Live Weekend Classes
                
                .phone-single-analysis-div
                    img(src="img/courses/rec.png", alt="people")
                    p Access to Class Recording            
