extend layout 

block content
    img(src="img/courses/digital-marketing-header.png", alt="")

    .container 
        .full-business-analysis-page
            .business-analysis-cover
                .business-analysis-div1
                    img(src="img/courses/digital-marketing-banner.png", alt="-banner")
                    
                .business-analysis-div2
                    h2(style="text-align: center; font-size: 20px; margin-bottom: 10px") DIGITAL MARKETING 
                    p In our digitally-focused world, digital marketing has become a vital component as the global landscape continues to shift towards online platforms and experiences.                    
                    a(href="/enrol") 
                        | 
                        button Enrol Now
                    p(style=".d-inline-flex.gap-1; color: #000; font-weight: bold") Course Modules 
                        a(data-bs-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
                            i.fa.fa-caret-down(aria-hidden='true')
                        #collapseExample.collapse
                            .card.card-body(style="")
                                ol(style="list-style-type: decimal; padding-left: 10px")
                                    li Introduction to Digital Marketing          
                                    li Search Engine Optimization (SEO)
                                    li Content Marketing
                                    li Social Media Marketing
                                    li Pay-Per-Click Advertising (PPC) 
                                    li Email Marketing
                                    li Influencer Marketing
                                    li Affiliate Marketing
                                    li Digital Analytics
                                    li Conversion Rate Optimization (CRO)
                                    li Mobile Marketing
                                    li E-commerce Marketing
                                    li Marketing Automation
                                    li Digital Marketing Strategy and Planning
        
        .container 
            .business-analysis-cover(style="color:black")
                .business-analysis-div1(style="margin-right: 60px")
                    h2 Course Overview: 
                    p(style="margin-top: 15px") Our comprehensive Digital Marketing course is designed to equip individuals with the skills and knowledge needed to thrive in the digital marketing landscape. Whether you're a newcomer or a seasoned professional, this course provides the latest strategies and techniques for online success.


                    
                .business-analysis-div2
                    h2 Who is this course for?
                    p 
                        ul(style="list-style-type: disc;line-height: 25px; margin-top: 10px") 
                            li Anyone interested in leveraging digital marketing for success.
                            li Marketing Professionals who want to explore tools and strategies for automating marketing processes, saving time and increasing efficiency.
                            li Individuals who want to become trained Digital Marketers.

        .container 
            .why-choose(style="color:black")     
                h2 Why Choose Our Digital Marketing Course?
                ul
                    li Expert Instructors: Learn from seasoned digital marketing professionals with extensive real-world expertise.
                    li Practical Learning: Acquire hands-on experience by actively participating and applying your knowledge in a practical setting.
                    li Networking: Connect with industry professionals and peers to expand your professional network fostering valuable connections.
                    li Instructor-Led Live classes: Experience personalised learning and receive immediate feedback from our expert instructors, ensuring a tailored educational experience.
                
                h2 Join our Data Analysis course and embark on a journey to become a skilled and proficient Data Analyst!
                
                h2(style="padding-top: 20px") The course duration: 6 weeks
                    br
                    |Start Date: To be communicated
                    br
                    |Course Fee: £350/N300,000
                    br
                    |Course Level: Beginner
                    br
                    |Certificate of Completion: YES
    
    .container 
        .business-last-div
            #people.single-analysis-div
                img(src="img/courses/people.png", alt="people")
                p Live Weekend Classes
                p Access to Class Recording
            //- .single-analysis-div
            //-     img(src="img/courses/rec.png", alt="people")
            //-     p Access to Class Recording
            
            #enrol-btn.single-analysis-div
                a(href="/enrol") 
                    button Enrol Now
            
            #alternate.single-analysis-div
                p(style="color:white") Alternative Job Titles for a Digital Marketer
                    ul(style="list-style-type:disc")
                        li Marketing Specialist
                        li Product Launch Manager
                        li E-commerce Marketer
                        li Branding Specialist
            
            
    .container 
        .phone-business-last-div 
            a(href="/enrol")             
                button Enrol Now
            
            .analyst-oppt
                p(style="color:white") Alternative Job Titles for a Digital Marketer
                ul(style="list-style-type:disc")
                li Marketing Specialist
                li Product Launch Manager
                li E-commerce Marketer
                li Branding Specialist
            
            .phone-analyst-flex
                .phone-single-analysis-div
                    img(src="img/courses/people.png", alt="people")
                    p Live Weekend Classes
                
                .phone-single-analysis-div
                    img(src="img/courses/rec.png", alt="people")
                    p Access to Class Recording            
