extend layout

block content
    .container-sm 
        .failed-test-area
            button
                a(href="/") Back to Home

            #circle-failed-area
                img(src="img/failed-img.png", alt="")
            #failed-text
                p FAILED
        

            p(style="color:red; margin-top: 30px;") Sorry, unfortunately you didn't pass the personality test,  you can only re-take this test after 30days.

                
            p Please enrol in one of our courses today
                
            


            




