extend layout

block styleBlock 


block content 
    section#slider-container.slider-area.three
        .slider-owl.owl-theme.owl-carousel

            .single-slide.item(style='background-image: url(img/unlock_potentials.png)' alt="unlock your potentials")
                .slider-content-area
                    .container
                        .row
                            .col-lg-7.col-md-offset-left-5
                                .slide-content-wrapper
                                    .slide-content(style="")
                                        .special-p 
                                            p At DeCareer Builders' Academy, we empower tech enthusiasts with cutting-edge skills for today’s dynamic industry. As a leading tech training academy, we provide top-tier education based on global standards, shaping the future of tech talent. Your success starts here!
                                        h3.special-h3 Unlock Your Tech Potential Today With Us!
                                        a.default-btn(href='/our-academy').special-btn Learn more

            .single-slide.item(style='background-image: url(img/tech.jpeg)')
                .slider-content-area
                    .container
                        .row
                            .col-lg-7.col-md-offset-left-5
                                .slide-content-wrapper
                                    .slide-content
                                        h3 OUR ACADEMY 
                                        p
                                            | BUILDING TECH LEADERS ONE STUDENT AT A TIME
                                        a.default-btn(href='/tech-training') Learn more

            .single-slide.item(style='background-image: url(img/slider/work-experience.png)')
                .slider-content-area
                    .container
                        .row
                            .col-lg-7.col-md-offset-left-5
                                .slide-content-wrapper.text-start
                                    .slide-content
                                        h3 WORK EXPERIENCE 
                                        p
                                            | TRAINING IS OVER... WHAT IS NEXT ??~
                                        a.default-btn(href='/work-experience-signup') Learn more

            .single-slide.item(style='background-image: url(img/slider/partnership.png)')
                .slider-content-area
                    .container
                        .row
                            .col-lg-7.col-md-offset-left-5
                                .slide-content-wrapper.text-start
                                    .slide-content
                                        h3 PARTNERSHIP 
                                        p
                                            | STRATEGIC PARTNERSHIPS TO FOSTER INNOVATION
                                        a.default-btn(href='/partnership') Learn more

            .single-slide.item(style='background-image: url(img/slider/consulting.png)')
                .slider-content-area
                    .container
                        .row
                            .col-lg-7.col-md-offset-left-5
                                .slide-content-wrapper.text-start
                                    .slide-content
                                        h3 CONSULTING
                                        p CONSULTING FOR TOMORROW
                                        a.default-btn(href='/consultancy') Learn more

    //Product Area
    .product-mockup
        h4 What we offer

        .product-collection
            .product-mockup-content
                #singleproduct  
                    img(src="img/products/booknpen.jpg", alt="courses")
                    p Courses
                    a(href="/courses")
                        button#product_learn Learn more

            .product-mockup-content.border-lr
                #singleproduct  
                    img(src="img/products/briefcase.jpg", alt="Work Experience")
                    p Work Experience
                    a(href="/work-experience")
                        button#product_learn Learn more

            .product-mockup-content.border-r
                #singleproduct
                    img(src="img/products/consultant.jpg", alt="consultancy")
                    p Consultancy
                    a(href="/consultancy")
                        button#product_learn Learn more        

            .product-mockup-content
                #singleproduct  
                    img(src="img/products/partnership.jpg", alt="Partnerships")
                    p Partnerships
                    a(href="/partnership")
                        button#product_learn Learn more

    //Decision Area
    .image-container-decision 
        img(src='img/decision-img.jpg', alt='what-we-deliver')
        .overlay-decision 
            .decision-collection 
                #decision-area
                    h4 
                        | Why 
                        br 
                        | choose 
                        br 
                        | DCBA?
            
                #decision-area 
                    ul 
                        li Expert-led courses taught by experienced professionals
                        li Personalized study plans tailored to individual needs 
                        li Practical, industry-relevant skills for immediate impact 
                        li Hands-on learning through real-world projects 
                        li Flexible learning options, including online courses 

    .success-story
        h4 Success Story
        .story-collection 
            .story-container
                .story-pic
                br
                .story-content
                    h2 From Uncertainty to Leadership
                    p "Before enrolling at DeCareer Builders Academy, I was lost in a sea of career choices and unsure of my next step. I had tried different roles. Read more...

            .story-container
                .story-pic 
                br
                .story-content 
                    h2 Overcoming the Odds and Thriving in a New Industry 
                    p "As a single parent, I thought transitioning to a new career was out of my reach, I had no formal eduction in tech, and the fear of strating from. Read more...

                
            .story-container
                .story-pic 
                br
                .story-content 
                    h2 From Underemployment to Entrepreneurial Success
                    p "I have been underemployed for years, doing freelance work that barely paid the bills and I was feeling stuck. That's when i decided to take a leap. Read more...    
    //Testimonials area
    .mockup-testimonials
        h4 Testimonials

        .testimonial-collection
            .testimonial-card
                .tag-flex-area 
                    img(src="img/testimonial/folashade.jpg", alt="folashade's-testomonial")
                .name-tag 
                    h6 Folashade Dagunduro
                    p Scrum Master

                .quote-mockup
                    p 
                        span.quote-bold “
                        |I can't recommend this site enough! The tutorials are clear and easy to follow, making complex concepts feel accessible. I built my first app using the resources provided here, and it&rsquo;s been a game changer for my career. The community is supportive, and the updates are always relevant. A must-visit for any tech enthusiast!;
                        span.quote-bold ”    

            .testimonial-card
                .tag-flex-area 
                    img(src="img/testimonial/winifred.jpg", alt="winifred's-testomonial")
                .name-tag 
                    h6 Winifred Eze
                    p Business Analyst
                
                .quote-mockup
                    p 
                        span.quote-bold “
                        |This website has been invaluable for staying on top of industry trends. The in-depth articles and expert insights have helped me make informed decisions for my team. I especially love the case studies—they offer practical applications of new technologies that I can implement right away. It’s my go-to resource! 
                        span.quote-bold ”
                    

            .testimonial-card
                .tag-flex-area 
                    img(src="img/testimonial/raheemat.jpg", alt="raheemat's-testomonial")
                .name-tag 
                    h6 Raheemat
                    p Product Owner

                .quote-mockup
                    p
                        span    “
                        | The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        span    ”
