extend layout 

block content
    img(src="img/linkedin-page-header.png", alt="")

    .container-sm
        .linkedin-banner 
            h1 LINKEDIN OPTIMIZATION 
            p(style="font-size: 15px") Welcome to our LinkedIn Optimization Service! In today's competitive job market and professional networking landscape, having a well-optimized LinkedIn profile is essential. Whether you're a job seeker, a business professional, or an entrepreneur, our expert team is here to elevate your LinkedIn presence and unlock new opportunities for you.
            
            #linkedin-content
                h2 Why Choose Our LinkedIn Optimization Services?
                ul(style="list-style-type: disc")
                    li Attract Job Offers: Recruiters often use LinkedIn to find potential candidates.
                    li Expand Your Network: Connect with industry peers, mentors, and potential clients.
                    li Build Credibility: Showcase your expertise and accomplishments to build trust.
                    li Stay Informed: Follow industry trends and engage in meaningful discussions.
                    li Discover Opportunities: Be the first to know about job openings and industry events.
                
                h2 Our Process 
                ul(style="list-style-type: decimal")
                    li Profile Assessment: We evaluate your current LinkedIn profile, identifying areas for improvement.
                    li Keyword Optimization: We research and implement the most relevant keywords to enhance your profile's searchability.
                    li Content Enhancement: We optimize your profile's headline, summary, & experience sections to effectively showcase your skills and accomplishments.

                h2 LinkedIn is not just a social network; it's a powerful tool for personal and professional growth. 
        
            button 
                #popup-link 
                    a(href="#") Get Started
            
            #popup-window
                #linkedin-pop
                    h1(style="color: #2c2b5e; font-size: 12.5px;") Unlock new career horizons and maximize your professional presence with our seamless LinkedIn Optimisation service. It's as easy as 1-2-3!.
                ul(style="list-style-type: decimal; padding-left:12px; font-size: 12px")
                    li Complete the payment securely using your preferred method.
                    li Our expert team will reach out to you promptly to initiate Linkedin Optimisation process.
                    li Relax and leave it in our capable hands.
                h2(style="color: #2c2b5e; font-size: 12px") Let's unlock your potential and open doors to exciting career opportunities.
                button 
                    a(href="#") Make Payment
                button#close-button(style="color:white") Close
                