extend layout 

block content
    img(src="img/courses/our-academy-header.png", alt="")

    .container
        p.academy-text Explore our diverse range of tech courses at Career Builders' Academy, designed to ignite your passion and equip you with industry-ready skills. From business analysis to UI/UX and scrum mastery, our hands-on courses offer practical, real-world experience. Whether you're a beginner or a pro, we have a course tailored for you. Learn from industry experts and start building your tech future today!


    .container
        .courses-grid 
            .singleCourse 
                a(href="/business-analysis") 
                    img(src="img/courses/ba.jpg", alt="Business Analysis")
                p(style="text-align:center") 
                    a(href="/business-analysis" style="color: #000; font-weight:bold;") Business Analysis
            
            .singleCourse 
                a(href="/data-analysis")
                    img(src="img/courses/courses.jpg", alt="Data Analysis")
                p(style="text-align:center") 
                    a(href="/data-analysis" style="color: #000; font-weight:bold;") Data Analysis

            .singleCourse 
                a(href="/ui-ux-designer")
                    img(src="img/courses/ui-ux.jpg", alt="UI-UX")
                p(style="text-align:center") 
                    a(href="/ui-ux-design" style="color: #000; font-weight:bold;") UI/UX Design

            .singleCourse 
                a(href="/digital-marketing") 
                    img(src="img/courses/courses.jpg", alt="Digital Marketing")
                p(style="text-align:center") 
                    a(href="/digital-marketing" style="color: #000; font-weight:bold;") Digital Marketing

            .singleCourse 
                a(href="/professional-product-owner") 
                    img(src="img/courses/courses.jpg", alt="Professional Product Owner")
                p(style="text-align:center") 
                    a(href="/professional-product-owner" style="color: #000; font-weight:bold;") Professional Product Owner
            
            .singleCourse 
                a(href="/professional-scrum-master") 
                    img(src="img/courses/ba.jpg", alt="Professional Scrum Master")
                p(style="text-align:center") 
                    a(href="/professional-scrum-master" style="color: #000; font-weight:bold;") Professional Scrum Master
            
            .singleCourse 
                a(href="/business-process-modeling") 
                    img(src="img/courses/courses.jpg", alt="Business Process Modeling")
                p(style="text-align:center") 
                    a(href="/business-process-modeling" style="color: #000; font-weight:bold;") Business Process Modeling
            
            .singleCourse 
                a(href="/product-development") 
                    img(src="img/courses/courses.jpg", alt="Product Development")
                p(style="text-align:center") 
                    a(href="/product-development" style="color: #000; font-weight:bold;") Product Development

    
    .container 
        h1(style="color: red; text-align:center; margin-top: 50px; margin-bottom: 30px; font-size: 20px") COURSES COMING SOON!!!
        .coming-soon
            .single-coming 
                a(href="#") 
                    img(src="img/courses/courses.jpg", alt="Business Process Architect")
                p(style="text-align:center") 
                    a(href="#" style="color: #000; font-weight:bold;") Business Process Architect
            
            .single-coming 
                a(href="#") 
                    img(src="img/courses/courses.jpg", alt="Cybersecurity")
                p(style="text-align:center") 
                    a(href="#" style="color: #000; font-weight:bold;") Cybersecurity
