extend layout 

block content
    img(src="img/services/our-services-header.png", alt="")

    .container
        .our-services-header 
            h1 OUR SERVICES 
            h4 Welcome to Career Builders’ Academy’s expanded offerings - Our Services Page!
            p While you've already experienced our exceptional tech training programs, we are thrilled to introduce you to the diverse world of our other valuable services. We are dedicated to providing you with an array of transformative services tailored to your educational and professional needs in the world of technology. Our commitment to excellence shines through in every service we offer, whether it's personalised training, cutting-edge workshops, career guidance, or expert mentorship. At our Tech Academy, we are more than just an educational institution; we are your partner in achieving tech mastery and reaching your career goals. 
            p Explore our diverse range of services and take the first step towards unlocking your full potential in the dynamic and ever-evolving tech industry. Your journey to success begins here with us.
            
    .container 
        .our-services-grid 
            .services-single-grid 
                a(href="/partnership") 
                    img(src="img/services/partnership-img.png", alt="partnership")
                    h2 PARTNERSHIPS
                    p We are committed to advancing the tech industry by forging strategic partnerships with...
                p.link
                    a(href="/partnership") Learn More...

            .services-single-grid 
                a(href="/consultancy") 
                    img(src="img/services/consultancy-img.png", alt="consultancy")
                    h2 CONSULTANCY
                    p We specialise in providing consultancy services to both businesses and governments. With our... 
                p.link 
                    a(href="/consultancy") Learn More...
            
            .services-single-grid 
                a(href="/work-experience") 
                    img(src="img/services/work-experience-img.png", alt="work-experience")
                    h2 WORK EXPERIENCE (Wx)
                    p At our company, We believe in nurturing talent and fostering the growth of future tech...
                p.link
                    a(href="/work-experience") Learn More...
            
            .services-single-grid 
                a(href="/linkedin-optimization") 
                    img(src="img/services/linkedin-img.png", alt="linkedin")
                    h2 LINKEDIN OPTIMIZATION
                    p Welcome to our LinkedIn Optimisation Service! In today's competitive job market ...
                p.link
                    a(href="/linkedin-optimization") Learn More...
            
            .services-single-grid 
                a(href="/cv-revamp") 
                    img(src="img/services/cv-img.png", alt="cv")
                    h2 CV REVAMP
                    p We understand that a well-crafted CV is often the key to unlocking job opportunities... 
                p.link
                    a(href="/cv-revamp") Learn More...