extend layout

block content
    .container-sm 
        .success-test-area
            img(src="img/payment-decline.png", alt="")
        
            h1 Payment Declined

            p We Apologise !
                
            p Your payment was declined. Please check your payment details for accuracy.
                
            p If issues persist, please contact your bank. 

            p Thank you for your understanding.


            




