extend layout 

block content
    img(src="img/courses/product-owner-header.png", alt="")

    .container 
        .full-business-analysis-page
            .business-analysis-cover
                .business-analysis-div1
                    img(src="img/courses/product-owner-banner.png", alt="-banner")
                    
                .business-analysis-div2
                    h2(style="text-align: center; font-size: 20px; margin-bottom: 10px") PROFESSIONAL PRODUCT OWNER 
                    p As businesses continue to evolve, and strive for greater customer satisfaction, the demand for skilled Product Owners is heightened. Our Product Owner course is designed to equip you with skills such as prioritizing features, collaborating with development teams and delivering customer-centric products. to enable you excel in this role.                    
                    a(href="/enrol") 
                        | 
                        button Enrol Now
                    p(style=".d-inline-flex.gap-1; color: #000; font-weight: bold") Course Modules 
                        a(data-bs-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
                            i.fa.fa-caret-down(aria-hidden='true')
                        #collapseExample.collapse
                            .card.card-body(style="")
                                ol(style="list-style-type: decimal; padding-left: 10px")
                                    li Agile and Scrum Fundamentals         
                                    li Product Owner Role and Responsibilities
                                    li Creating and Managing the Product Backlog
                                    li Prioritization and Value Delivery
                                    li Writing Effective User Stories 
                                    li Working with Development Teams
                                    li Sprint Planning and Goal Setting
                                    li Acceptance Criteria and Definition of Done
                                    li Stakeholder Engagement
                                    li Managing and Adapting the Product Roadmap
                                    li Release Management and Increment Delivery
                                    li Handling Changes and Managing Expectations
                                    li Scaling Agile and Collaboration
                                    li Real-world Case Studies and Exercises
        
        .container 
            .business-analysis-cover(style="color:black")
                .business-analysis-div1(style="margin-right: 60px")
                    h2 Course Overview: 
                    p(style="margin-top: 15px") The Product Owner is the voice of the customer within agile teams, responsible for defining and prioritizing features, ensuring alignment with business goals, and maximizing the value of the product. This course provides in-depth insights and practical techniques to become an effective Product Owner.


                    
                .business-analysis-div2
                    h2 Who is this course for?
                    p 
                        ul(style="list-style-type: disc;line-height: 25px; margin-top: 10px") 
                            li Experienced Individuals who manage software projects
                            li Working Professionals who want to transition into a Product Owner role.
                            li Individuals who want to transition into a ‘no-coding’ Tech role.

        .container 
            .why-choose(style="color:black")     
                h2 Why Choose Our Product Owner Course?
                ul
                    li Expert Instructors: Learn from experienced Product Owners with real-world expertise.
                    li Practical Learning: Gain hands-on experience through participation/involvement in real-life scenarios.
                    li Networking: Connect with industry professionals and peers.
                    li Career Support: Access resources for job placement and career progression.
                    li Instructor-Led Live classes: Experience personalised learning and receive immediate feedback from Instructors.                       
                
                h6 Join our Product Owner course and embark on a journey to become a skilled Product Owner, equipped to lead Agile teams, deliver exceptional products, and drive business success.
                
                h6(style="padding-top: 20px") The course duration: 8 weeks
                    br
                    |Start Date: To be communicated
                    br
                    |Course Fee: £450/N400,000
                    br
                    |Course Level: Beginner
                    br
                    |Certificate of Completion: YES
    
    .container 
        .business-last-div
            #people.single-analysis-div
                img(src="img/courses/people.png", alt="people")
                p Live Weekend Classes
                p Access to Class Recording
            //- .single-analysis-div
            //-     img(src="img/courses/rec.png", alt="people")
            //-     p Access to Class Recording
            
            #enrol-btn.single-analysis-div
                a(href="/enrol") 
                    button Enrol Now
            
            #alternate.single-analysis-div
                p(style="color:white") Alternative Job Titles for a Product Owner
                    ul(style="list-style-type:disc")
                        li Product Manager
                        li Information Technology Business Analyst
                        li Product Strategist
                        li Technical Product Manager
            
            
    .container 
        .phone-business-last-div 
            a(href="/enrol")             
                button Enrol Now
            
            .analyst-oppt
                p(style="color:white") Alternative Job Titles for a Product Owner
                    ul(style="list-style-type:disc")
                    li Product Manager
                    li Information Technology Business Analyst
                    li Product Strategist
                    li Technical Product Manager
            
            .phone-analyst-flex
                .phone-single-analysis-div
                    img(src="img/courses/people.png", alt="people")
                    p Live Weekend Classes
                
                .phone-single-analysis-div
                    img(src="img/courses/rec.png", alt="people")
                    p Access to Class Recording