extend layout 

block content
    img(src="img/resource-mockup.jpg", alt="", width="100%")

    .container
        .our-services-header 
            h1 FREE RESOURCES 
            p Welcome to Career Builders' Academy's Free Resources page! Here, we open the doors to a wealth of knowledge and learning opportunities in the world of technology. Whether you're a seasoned professional looking to stay updated on the latest trends or an aspiring tech enthusiast eager to dive into the digital realm, you've come to the right place. Our curated collection of free resources, including articles, tutorials, webinars, and more, is designed to empower you with the insights and skills needed to thrive in the ever-evolving tech landscape. Explore, learn, and embark on your journey of continuous growth and innovation with us. Welcome to a world of limitless possibilities!
                
    //- .container 
    //-     .our-services-grid 
    //-         .services-single-grid 
    //-             a(href="/partnership") 
    //-                 img(src="img/services/partnership-img.png", alt="partnership")
    //-                 h2 PARTNERSHIPS
    //-                 p We are committed to advancing the tech industry by forging strategic partnerships with...
    //-             p.link
    //-                 a(href="/partnership") Learn More...

    //-         .services-single-grid 
    //-             a(href="/consultancy") 
    //-                 img(src="img/services/consultancy-img.png", alt="consultancy")
    //-                 h2 CONSULTANCY
    //-                 p We specialise in providing consultancy services to both businesses and governments. With our... 
    //-             p.link 
    //-                 a(href="/consultancy") Learn More...
            
    //-         .services-single-grid 
    //-             a(href="/work-experience") 
    //-                 img(src="img/services/work-experience-img.png", alt="work-experience")
    //-                 h2 WORK EXPERIENCE (Wx)
    //-                 p At our company, We believe in nurturing talent and fostering the growth of future tech...
    //-             p.link
    //-                 a(href="/work-experience") Learn More...
            
    //-         .services-single-grid 
    //-             a(href="/linkedin-optimization") 
    //-                 img(src="img/services/linkedin-img.png", alt="linkedin")
    //-                 h2 LINKEDIN OPTIMIZATION
    //-                 p Welcome to our LinkedIn Optimisation Service! In today's competitive job market ...
    //-             p.link
    //-                 a(href="/linkedin-optimization") Learn More...
            
    //-         .services-single-grid 
    //-             a(href="/cv-revamp") 
    //-                 img(src="img/services/cv-img.png", alt="cv")
    //-                 h2 CV REVAMP
    //-                 p We understand that a well-crafted CV is often the key to unlocking job opportunities... 
    //-             p.link
    //-                 a(href="/cv-revamp") Learn More...