extend layout

block content
    .container-sm 
        .success-test-area
            img(src="img/success-img.png", alt="")
            #success-text
                p SUCCESS
        
            h1 You passed the personality test !!

            p Congratulations !!
                
            p Your performance on the personality test has confirmed your suitability for our work experience team. We are excited to have you on board and look forward to your valuable contributions.
                
            p Welcome Onboard !!

            p(style="color:red; margin-top: 30px") A member of the team will contact you shortly and you will be added to the community of practice.

            button
                a(href="#") Make Payment




