extend layout

block styleBlock 
    style. 
        .offer-area h1 { font-size: 60px }
        .offer-area h2 { font-size: 35px }

        .banner-area {
            background: rgba(0, 0, 0, 0) url(/img/banner/tech-training.jpg) no-repeat scroll center center / cover;
        }

block content 
    .banner-area-wrapper
        .banner-area.text-center
            .container
                .row
                    .col-12
                        .banner-content-wrapper
                            .banner-content
                                h2 Tech Training

    .offer-area.pt-140.pb-80.mb-3
        .container
            .row
                .col
                    h3.mb-3 Tech Training
                    p We empower individuals and businesses to thrive in the digital age. We understand the rapid advancements in technology can be overwhelming, and we're here to bridge the knowledge gap by providing cutting-edge training solutions. Whether you're a seasoned professional looking to upgrade your skills or a newcomer wanting to enter the tech industry, Career Builders’ Academy is your one-stop destination for comprehensive and up-to-date tech training.

                    h3.mt-4 Our Mission: 
                    p At <span class='notice'>Career Builders’ Academy</span>, our mission is to empower individuals and businesses with the knowledge and skills they need to navigate the ever-evolving landscape of technology. We believe that everyone should have access to quality tech education, enabling them to seize opportunities, drive innovation, and make a meaningful impact in the digital world.


    .offer-area.pt-120.pb-80.mb-3.bg-light
        .container
            .row
                .col-md-5 
                    h2 Why Train With Us
                    img(src='/img/training-school.png').mt-4

                .col-md-1
                .col-md-6 
                    ul.bullet                
                        li Expert Instructors: Our instructors are industry experts with a wealth of experience and a passion for teaching. They bring real-world scenarios to the classroom, making learning practical and relevant.
                        li Comprehensive Curriculum: Our training programs cover a wide array of topics, from programming languages, data science, cybersecurity, cloud computing, artificial intelligence, to digital marketing, and more. Whatever your tech interest or industry, we have the right course for you.
                        li Flexible Learning Options: We understand the demands of modern life, which is why we offer various learning options, including in-person classes, live virtual sessions, and self-paced online courses. You can choose the mode that best suits your schedule and learning preferences.
                        li Hands-on Projects: Learning by doing is essential in tech, so we emphasize hands-on projects and real-world simulations. You'll gain practical experience that boosts your confidence and employability.
                        li Industry Partnerships: We collaborate with top tech companies and startups to ensure our training aligns with industry needs. This helps you stay ahead of the curve and gives you a competitive advantage in the job market.
                        li Career Services: We go the extra mile to support your career goals. Our career services team offers resume reviews, interview preparation, job placement assistance, and networking opportunities to help you land your dream tech job.
    .offer-area.pt-80.pb-100.mb-3
        .container
            .row
                .col
                    h2.text-center.mb-5 Our Training Program

                    ul.bullet 
                        li Tech Foundations: Ideal for beginners, this program introduces you to the basics of tech, including computer literacy, software usage, and an overview of various tech fields.Programming and Software Development: Fundamentals of programming languages, software development methodologies, and frameworks.
                        li Data Analysis and Visualization: Techniques for data analysis, data visualization tools, and statistical analysis.
                        li Cybersecurity: Best practices for securing networks, systems, and data from cyber threats.
                        li Digital Marketing: Strategies for online marketing, social media marketing, search engine optimization (SEO), and analytics.
                        li IT Infrastructure Management: Basics of networking, server management, cloud computing, and system administration.
                        li Product management: A discipline within the field of business and technology that focuses on the development, planning, and execution of a product or service throughout its lifecycle.
                        li Business Analysis: The discipline of identifying business needs and determining solutions to business problems. It involves understanding the current state of an organization, defining its desired future state, and recommending appropriate actions and strategies to bridge the gap between the two.
                        li Product Ownership: A profession and a set of responsibilities within the Agile software development methodology. The product owner represents the voice of the customer and is responsible for maximizing the value of the product being developed.
                        li Scrum Mastery: A profession within the Scrum framework, which is an agile project management methodology commonly used in software development. The Scrum Master is responsible for ensuring that Scrum practices and principles are understood and followed by the team.
                        li Work Experience: Dive into the world of software development with our immersive bootcamp that covers popular programming languages, web development, and application deployment.


            .row 
                .col        
                    p.mt-5(style="font-weight: bold; font-style: italic") Invest in your future by choosing Career Builders’ Academy as your tech training partner. Our comprehensive programs, expert instructors, and industry connections ensure you receive top-notch education and support as you embark on an exciting tech journey. Whether you're a student, professional, or business seeking to upskill your workforce, TechXpertise is here to transform your tech aspirations into reality. Join us today and unlock the full potential of technology!

            .row 
                .col 
                    a.default-btn(href='/enroll').mt-4 Enroll Today