extend layout

block styleBlock 
    style.  
        .trending-courses {
            background: #2C2B5E
        }


block content 
    .container-sm.cover
        div.test
            #testimonial-page
                .inner
                    .active(style="background: #D9D9D9")
                        h1 TESTIMONIALS   
                         
                        img.rating(src="/img/rating.png", alt="")
                        div(style="display:block; margin-left: auto; margin-right: auto")
                            img.testProfile(src='/img/image18.png', alt='First slide',)
                        div(style="background: ##d9d9d9; text-align: center; padding: 10px") 
                            p(style="background: #fff; color: #666666; border-radius: 10px; font-size: 10px;") The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        p(style="margin-bottom: 10px") -Raheemat
                        p(style="text-align:right; padding: 15px;") 
                            a(href="#" style="color: #2c2b5e; font-weight:bold;") Read More...                    
                    .active(style="background: #D9D9D9")
                        h1 TESTIMONIALS   
                        img.rating(src="/img/rating.png", alt="")
                        div(style="display:block; margin-left: auto; margin-right: auto")
                            img.testProfile(src='/img/image18.png', alt='First slide',)
                        div(style="background: ##d9d9d9; text-align: center; padding: 10px") 
                            p(style="background: #fff; color: #666666; border-radius: 10px; font-size: 10px;") The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        p(style="margin-bottom: 10px") -Raheemat
                        p(style="text-align:right; padding: 15px;") 
                            a(href="#" style="color: #2c2b5e; font-weight:bold;") Read More...
                    .active(style="background: #D9D9D9")
                        h1 TESTIMONIALS        
                        img.rating(src="/img/rating.png", alt="")
                        div(style="display:block; margin-left: auto; margin-right: auto")
                            img.testProfile(src='/img/image18.png', alt='First slide',)
                        div(style="background: ##d9d9d9; text-align: center; padding: 10px") 
                            p(style="background: #fff; color: #666666; border-radius: 10px; font-size: 10px;") The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        p(style="margin-bottom: 10px") -Raheemat
                        p(style="text-align:right; padding: 15px;") 
                            a(href="#" style="color: #2c2b5e; font-weight:bold;") Read More...
                    .active(style="background: #D9D9D9")
                        h1 TESTIMONIALS                            
                        img.rating(src="/img/rating.png", alt="")
                        div(style="display:block; margin-left: auto; margin-right: auto")
                            img.testProfile(src='/img/image18.png', alt='First slide',)
                        div(style="background: ##d9d9d9; text-align: center; padding: 10px") 
                            p(style="background: #fff; color: #666666; border-radius: 10px; font-size: 10px;") The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        p(style="margin-bottom: 10px") -Raheemat
                        p(style="text-align:right; padding: 15px;") 
                            a(href="#" style="color: #2c2b5e; font-weight:bold;") Read More...
                    .active(style="background: #D9D9D9")
                        h1 TESTIMONIALS                            
                        img.rating(src="/img/rating.png", alt="")
                        div(style="display:block; margin-left: auto; margin-right: auto")
                            img.testProfile(src='/img/image18.png', alt='First slide',)
                        div(style="background: ##d9d9d9; text-align: center; padding: 10px") 
                            p(style="background: #fff; color: #666666; border-radius: 10px; font-size: 10px;") The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        p(style="margin-bottom: 10px") -Raheemat
                        p(style="text-align:right; padding: 15px;") 
                            a(href="#" style="color: #2c2b5e; font-weight:bold;") Read More...
                    .active(style="background: #D9D9D9")
                        h1 TESTIMONIALS                            
                        img.rating(src="/img/rating.png", alt="")
                        div(style="display:block; margin-left: auto; margin-right: auto")
                            img.testProfile(src='/img/image18.png', alt='First slide',)
                        div(style="background: ##d9d9d9; text-align: center; padding: 10px") 
                            p(style="background: #fff; color: #666666; border-radius: 10px; font-size: 10px;") The classes were very informative and interesting. Oluyemi did everything to make sure no one was left behind. I look forward to joining the next Data Analytics class.
                        p(style="margin-bottom: 10px") -Raheemat
                        p(style="text-align:right; padding: 15px;") 
                            a(href="#" style="color: #2c2b5e; font-weight:bold;") Read More...

        button(class="next") Next page                    