extend layout 

block content
    img(src="img/courses/ui-header.png", alt="")
    .course-nav
        h6 
            a(href="/") Home >
            a(href="/our-academy")  Course >
            a(href=`${url}`)  #{title}  
    .container 
        .full-business-analysis-page
            .business-analysis-cover
                .business-analysis-div1
                    img(src="img/courses/ui-banner.png", alt="analysis-banner")
                    
                .business-analysis-div2
                    h2(style="text-align: center; font-size: 20px; margin-bottom: 10px") UI/UX DESIGN 
                    p User Interface (UI) and User Experience (UX) are two sides of user focused design; an emerging field that has grown rapidly in recent years. These roles are highly sought after by organizations because they directly impact product quality and consequently, sales.
                    a(href="/enrol") 
                        | 
                        button Enrol Now
                    p(style=".d-inline-flex.gap-1; color: #000; font-weight: bold") Course Modules 
                        a(data-bs-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
                            i.fa.fa-caret-down(aria-hidden='true')
                        #collapseExample.collapse
                            .card.card-body(style="")
                                ol(style="list-style-type: decimal; padding-left: 10px")
                                    li Introduction to UI/UX Design          
                                    li User Focused Design Principles
                                    li User Research and Analysis
                                    li Information Architecture and Navigation Design
                                    li Wire-framing and Prototyping
                                    li Visual Design Principles
                                    li Interaction Design
                                    li Responsive and Mobile Design
                                    li UI Design Tools
                                    li Usability Testing and User Feedback
                                    li Accessibility and Inclusive Design
                                    li UI/UX Collaboration
                                    li Portfolio Development and Presentation
                                    li Real-world Case Studies and Exercises
        
        .container 
            .business-analysis-cover(style="color:black")
                .business-analysis-div1(style="margin-right: 60px")
                    h2 Course Overview: 
                    p(style="margin-top: 15px") The UI/UX Designer is responsible for creating digital products and interfaces that are intuitive and user-friendly. This course will teach you the fundamentals of both UI and UX design and how to approach problems from a user-focused perspective. You will master the skill of designing the look, fell and effectiveness of products or projects.


                    
                .business-analysis-div2
                    h2 Who is this course for?
                    p 
                        ul(style="list-style-type: disc;line-height: 25px; margin-top: 10px") 
                            li Individuals who want to build their skill set in UI/UX for app or web design.
                            li Working Professionals who want to transition into a UI/UX design role.
                            li Individuals who want to transition into a ‘no-coding’ Tech role.

        .container 
            .why-choose(style="color:black")     
                h2 Why Choose Our UI/UX Design Course?
                ul
                    li Expert Instructors: Learn from experienced UI/UX Designers with real-world expertise.
                    li Practical Learning: Gain hands-on experience through participation/involvement in real-life scenarios.
                    li Networking: Connect with Industry professionals and peers.
                    li Career Support: Access resources for job placement and career progression.
                    li Instructor-Led Live classes: Experience Interactive learning and receive immediate feedback from Instructors.                        
                
                h6 Join our UI/UX Design Course and embark on a journey to become a skilled UI/UX Designer, equipped to create  
                    br 
                    |visually appealing designs that improve user experience and engagement.
                
                h6(style="padding-top: 20px") The course duration: 6 weeks
                    br
                    |Start Date: To be communicated
                    br
                    |Course Fee: £350/N300,000
                    br
                    |Course Level: Beginner
                    br
                    |Certificate of Completion: YES
    
    .container 
        .business-last-div
            #people.single-analysis-div
                img(src="img/courses/people.png", alt="people")
                p Live Weekend Classes
                p Access to Class Recording
            //- .single-analysis-div
            //-     img(src="img/courses/rec.png", alt="people")
            //-     p Access to Class Recording
            
            #enrol-btn.single-analysis-div
                a(href="/enrol") 
                    button Enrol Now
            
            #alternate.single-analysis-div
                p(style="color:white") Alternative Job Titles for a UI/UX Designer
                    ul(style="list-style-type:disc")
                        li Product Designer
                        li UX Designer
                        li UX Researcher
                        li Front-End Designer
            
            
    .container 
        .phone-business-last-div 
            a(href="enrol")             
                button Enrol Now
            
            .analyst-oppt
                p(style="color:white") Alternative Job Titles for a UI/UX Designer
                    ul(style="list-style-type:disc")
                    li Product Designer
                    li UX Designer
                    li UX Researcher
                    li Front-End Designer
            
            .phone-analyst-flex
                .phone-single-analysis-div
                    img(src="img/courses/people.png", alt="people")
                    p Live Weekend Classes
                
                .phone-single-analysis-div
                    img(src="img/courses/rec.png", alt="people")
                    p Access to Class Recording            
