extend layout

block content
    img(src="img/services/work-ex-header.png", alt="")

    .container-sm
        .work-ex-banner
            h1 WELCOME TO WORK EXPERIENCE
            p We extend a warm welcome to our Work Experience platform, marking the start of your journey in professional growth and learning. Your decision to join us showcases your ambition and curiosity, ambition and eagerness to explore the world of work.
            p During your time here, you will immerse yourself in the daily operations of our dynamic community. This hands-on experience will provide invaluable insights into your chosen field, preparing you for success.
            p We recommend a minimum of three months to gain substantial experience. After this period, you would have gained substantial experience and can choose to continue with us for further support and mentorship or pursue your path equipped for success.

            .work-ex-qst-area
                .single-ex-qst-area 
                    h2 Role 
                    form(action="POST")
                        options 
                            select(name="") 
                                option(name="") Business Analyst
                
                .single-ex-qst-area 
                    h2 Monthly Subscription 
                    p 
                        span &euro;149
                        |  (There is discount for our returning candidates)
                
                .single-ex-qst-area 
                    h2 Duration 
                    form(action="POST")
                        options 
                            select(name="") 
                                option(name="") 3 months
            button
                a(href="#") Join Work Experience
            .work-ex-flex-area
                .single-work-ex-area 
                    img(src="img/services/work-pic1.png", alt="")
                    .single.work-ex-text 
                        h2 Real Life & Hands-on Projects
                        p Immerse yourself in the daily operations of your chosen field, gaining invaluable insights into its inner workings.

                .single-work-ex-area 
                    img(src="img/services/work-pic2.png", alt="")
                    .single.work-ex-text 
                        h2 CV Revamp
                        p Let our experts revise and improve your CV to present your qualifications and experiences in the best possible light, boosting your chances with potential employers.
                
                .single-work-ex-area 
                    img(src="img/services/work-pic3.png", alt="")
                    .single.work-ex-text 
                        h2 Tools & Training
                        p Access tools and training that enhance your product management skills, ensuring you can effectively use relevant resources.

                
                .single-work-ex-area 
                    img(src="img/services/work-pic4.png", alt="")
                    .single.work-ex-text 
                        h2 Interview Prep
                        p Receive support in preparing for interviews, positioning yourself for success.

                .single-work-ex-area 
                    img(src="img/services/work-pic5.png", alt="")
                    .single.work-ex-text 
                        h2 Mentorship
                        p Benefit from a dynamic and valuable relationship with experienced mentors who provide guidance, support, and advice as needed.
                
                .single-work-ex-area 
                    img(src="img/services/work-pic6.png", alt="")
                    .single.work-ex-text 
                        h2 Job Support
                        p You will enjoy on-the-job support for your professional growth and success.
            //- button
            //-     a(href="#") Join Work Experience



