#marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

/* Make sure the items will start off-screen to the right */
.marquee-item {
  display: inline-block;
  margin-right: 30px; /* Space between items */
  padding: 10px 5px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 18px;
  text-wrap: wrap;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25),
    -8px -8px 20px rgba(0, 0, 0, 0.1);
}

/* Start marquee animation immediately from right */
#marquee {
  /* background: green; */
  margin-top: 3rem;
  width: 1500px;
  animation: slideLeft infinite linear;
}

#marquee:hover {
  animation-play-state: paused;
}
/* Define keyframes for sliding from right to left */
@keyframes slideLeft {
  0% {
    transform: translateX(100%); /* Start the items off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End at the left of the container */
  }
}
/* #carouselExampleIndicators.carousel.slide{
    height: 340px;
    margin-top: 50px;
    text-align: center;
    color: black;
}

.carousel-inner{
    height: 300px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

a.carousel-control-prev, a.carousel-control-next{
    background: #F7C838;
    height: fit-content;
    width: fit-content;
    display: block;
    margin: auto 0 auto 0;
}

.carousel-item p{
    font-size: 20px;
}

.carousel-item button{
    margin-bottom: 1rem;
}

.carousel-indicators {
    bottom: 10px; 
}

.carousel-indicators li {
    background-color: #1a2930; 
    border-radius: 50%; 
    width: 20px; 
    height: 10px; 
    margin: 0 5px; 
}

/* .carousel-indicators .active {
    background-color: #F7C838; 
} */
